<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mygram.mygram.src.main.java.feed.FeedMapper">
    <insert id="insPics">
        INSERT INTO t_feed_pics
        (ifeed, pic)
        VALUES
        <foreach collection="pics" item="pic" open="(" close=")" separator="),(">
            #{ifeed}, #{pic}
        </foreach> <!--     collection : 전달받은 변수명
                            item : 전달받은 변수명을 alias 할 수 있음
                            open : 반복문이 실행될 때 삽입되는 구문
                            close : 반복문이 끝날 때 삽입되는 구문
                            separator : 반복문이 실행될 때 마다 삽입되는 구문
                                                                        -->
    </insert>
</mapper>