<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mygram.mygram.src.main.java.user.UserMapper">
    <insert id="userSignUp" useGeneratedKeys="true" keyProperty="iuser">
        INSERT INTO t_user
        SET uid = #{uid}
        , upw = #{upw}
        , nm = #{nm}
        <if test=" pic != null and pic != '' ">
            , pic = #{pic}
        </if>
    </insert>
    <select id="userSignIn">
        SELECT upw,nm,pic,iuser
        FROM t_user
        WHERE uid=#{uid}
    </select>
    <select id="UserInfo">
        SELECT nm,created_at AS createdAt,pic
        FROM t_user
        WHERE iuser =#{targetIuser}
    </select>
    <update id="patchUserPic">
        UPDATE t_user
        SET pic = #{pic}
        WHERE iuser = #{iuser}
    </update>
</mapper>